---
layout: default
---

<div class=home>
<a id="home" class="smooth"></a>
<div class="front-name"><h1>Yuan Zhang</h1></div>
<div class="front-meta"><h1>Global Citizen. Web Designer. Aspiring Statistician.</h3></div>
<ul class="contact-links">
  <li><a href="https://ca.linkedin.com/in/yuan-zhang-1a8977108"><img src="/images/linkedin.jpg" alt="hi" class="inline"></a></li>
  <li><a href="https://github.com/yuaz"><img src="/images/github.jpg" alt="hi" class="inline"></a></li>
  <li><a href="mailto:yzhang.8519@gmail.com"><img src="/images/email.jpg" alt="hi" class="inline"></a></li>
</ul>
</div>

<div class="aboutme">
  <a id="aboutme" class="smooth"></a>
  {% include aboutme.html %}
</div>
<div class="myprojects">
  <a id="myprojects" class="smooth"></a>
  {% include myprojects.html %}
</div>
<div class="photography">
<a id="photography" class="smooth"></a>
  {% include photography.html %}
</div>
