<div class="page">
  <h1 class="aboutme-name">About Me</h1>
</div>

<div class="aboutme-para-bg">
<div>
<p class="aboutme-text">
<br>
&nbsp; &nbsp; Hi there! I'm Yuan, a Statistics student with a Minor in Computer Sciences at the University of Waterloo.
I am involved in volunteering activities since elementary school and have participated in multiple cultural programs such as RotarAct and YMCA.
<br>
<br>
&nbsp; &nbsp; I enjoy working on data projects during my free time (coming soon on the site!) and polishing my programming skills.
Currently, I am learning the ropes of data visualization and actuarial practice.
<br>
</p>
</div>
</div>

<!-- -->
