<div class="page">
<h1 class="myprojects-name">My Projects</h1>

<!--
<ol class="myprojects-projects">
  <li>
    <a href="{{site.baseurl}}/kaggle"><img src="images/canada-icon.jpg" width='317' height='200' onmouseover="this.src='images/canada2.jpg';" onmouseout="this.src='images/canada-icon.jpg';"/></a>
    <a href="{{site.baseurl}}/idealab"><img src="images/china-icon.jpg" width='317' height='200' onmouseover="this.src='images/china2.jpg';" onmouseout="this.src='images/china-icon.jpg';"/></a>
    <a href="{{site.baseurl}}/dataprojects"><img src="images/usa-icon.jpg" width='317' height='200' onmouseover="this.src='images/usa2.jpg';" onmouseout="this.src='images/usa-icon.jpg';"/></a>
  </li>
</ol>
-->

  <h3 class="myprojects-desc">Please wait a little longer...</h3>

</div>
