<nav>
  <div class="nav-position">
  <ul class="nav {{include.navclass}}">
    <li>
      <a href="{{site.baseurl}}/#home">Home</a>
    </li>﻿
    <li>
      <a href="{{site.baseurl}}/#aboutme">About Me</a>
    </li>
    <li class="dropdown">
      <a href="{{site.baseurl}}/#myprojects"
      class="{% if page.categories contains 'projects' %}current{% endif %}">Projects</a>
      <ul class="dropdown-content">
        <li><a href="{{site.baseurl}}/kaggle">Kaggle</a></li></br>
        <li><a href="{{site.baseurl}}/idealab">IDEA</a></li></br>
        <li><a href="{{site.baseurl}}/dataprojects">Personal Researches</a></li></br>
      </ul>
    </li>
    <li>
      <a href="{{site.baseurl}}/resume.pdf">Resume</a>
    </li>
    <li class="dropdown">
      <a href="https://medium.com/@yuanzh"
      class="{% if page.url contains 'blog' or page.url contains 'data-projects' %}current{% endif %}">Blog</a>
    </li>
  </ul>
  </div>
</nav>
