<nav>
  <ul class="nav {{include.navclass}}">
    <li>
      <a href="{{site.baseurl}}/"
      class="{% if page.url == '/' %}current{% endif %}">Home</a>
    </li>﻿
    <li>
      <a href="{{site.baseurl}}/photography.html"
      class="{% if page.url == '/photography.html' %}current{% endif %}">Photography</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/blog.html"
      class="{% if page.url contains 'blog' or page.url contains 'data-projects' %}current{% endif %}">Blog</a>
    </li>
  </ul>
</nav>
