.masterheader {
  padding: 1em;
  margin: 1em;
  background: #fff url('../images/masterhead.jpg') no-repeat;
  background-size: cover;
  color: #fff;
}

.front-background {
  background: #fff url('../images/background-tree.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}
