.masterheader {
  background-color: #191919;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 5em;
}

.footer {
  background-color: #191919;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 2em;
  text-align: center;
}


.home {
  background: #fff url('../images/background-tree.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  height: 100vh;
}

.page {
  background: #fff url('../images/background-triangle.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  height: 100vh;
}

.blog {
  background: #fff url('../images/background-flower.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  height: 100vh;
}
