* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
    }

html {
  font-family: Tahoma,serif;
  font-size: 20px;
}
