.front-title {
  font-size: 5em;
  font-size: 6vw;
  font-family: Delicious;
  color: black;
  text-align: center;
  position: absolute; top: 1em; right: 1.5em;
}

.front-menu {
  text-align: right;
}

.front-menu-a li {
  display: inline;
}
.front-menu-a li a {
  font-size: 2.5em;
  font-size: 4vw;
  font-family: Lobster Two;
  text-decoration: none;
  display: inline;
  color: black;
  position: relative; top: 5px; right: 5px;
}

.front-menu-a li .section:hover {
  text-decoration: underline;
}

.front-meta {
  text-align: center;
  font-size: 2.5em;
  font-size: 4vw;
  position: relative; top: 4.5em;
  color: white;
}
