.nav {
  list-style-type: none;
  display: flex;
  background-color: #E6E6FA;
}

.nav-top > li a {
  text-align: center;
  font-family: fantasy;
  display: block;
  width: 120px;
  text-decoration: none;
  padding: 8px 16px;
  color: #000;
}

.nav-bottom > li a {
  text-align: center;
  display: block;
  width: 120px;
  text-decoration: none;
  padding: 8px 16px;
  color: #000;
}

.nav > li a:hover {
  background-color: #555;
  color: #fff;
}

.current {
  background-color: #6495ED;
  color: #fff;
}
