.name {
  padding-left: 1em;
  padding-top: 0.2em;
  font-family: Lobster Two;
  font-size: 180%;
}

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  color: white;
  text-align: center;
  width: 120px;
}

.nav > li > a:not(.current) {
  text-align: center;
  display: block;
  width: 120px;
  text-decoration: none;
  color: white;
}

.dropdown-content {
    display: none;
    background-color: #191919;
    position: absolute;
    list-style-type: none;
    overflow: visible;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 0.5em;
}

.dropdown-content a:hover {
  color: #8FD8D8;
}

.dropdown:hover .dropdown-content {
  display:block;
}

.current {
  text-decoration: none;
  color: #8FD8D8;
  width: 120px;
}

