.front-name {
  font-family: Tahoma;
  text-align: left;
  font-size: 100px;
  color: #3EA3CF;
  padding-top: 32%;
  padding-left: 5%;
  position: relative;
}

.front-meta {
  font-family: Tahoma;
  text-align: left;
  font-size: 40px;
  color: #35D1DA;
  padding-left: 5%;
  position: relative;
  z-index: 5;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.footer_text {
  font-size: 70%;
  padding-top: 3px;
}
.contact-links {
  position: relative;
  text-align: center;
  padding-top: 0.2em;
  z-index: 1;
}

.contact-links > li {
  display: inline-block;
}

.contact-links > li > a {
  display:inline-block;
  /*
  border-radius: 36px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: 2px solid white;
  z-index: 10;
  */
}

.aboutme-name {
  font-family: Kaushan Script;
  text-align: left;
  font-size: 80px;
  color: white;
  padding-top: 6%;
  padding-left: 26%;
  position: relative;
}

.aboutme-para-bg {
  background: rgba(255, 255, 255, .7);
  width: 45%;
  height:55%;
  margin-left: 15%;
  margin-top: 2%;
}

.aboutme-text {
  color: black;
  margin: 5%;
  padding-top: 2%;
  text-align: justify;
  font-family: Caveat Brush;
  font-size: 1.2em;
}

.myprojects-name {
  font-family: Kaushan Script;
  text-align: center;
  font-size: 80px;
  color: black;
  position: relative;
}

.myprojects-desc {
  font-family: Kaushan Script;
  text-align: center;
  font-size: 50px;
  color: black;
  padding-top: 10%;
  position: relative;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

