.front-name {
  font-family: Tahoma;
  text-align: left;
  font-size: 120px;
  color: white;
  padding-top: 20%;
  padding-left: 5%;
  position: relative;
}

.front-meta {
  font-family: Tahoma;
  text-align: left;
  font-size: 60px;
  color: #ADD8E6;
  padding-left: 5%;
  position: relative;
  z-index: 5;
}

.contact-links {
  position: relative;
  padding-left:71%;
  z-index: 1;
}

.contact-links li {
  display: inline-block;

}

.contact-links li a {
  font-size: 40px;
}

