<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} - {% endif %} Yuan Zhang</title>
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <!-- SMOOTH SCROLL -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>
<!-- End of SMOOTH SCROLL -->
</head>

<body>
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster+Two">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Caveat+Brush">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">
<div class="masterheader">
    <div class="name"><h1>Yuan Zhang</h1></div>
    {% include nav.html %}
</div>

  {{content}}

<div class="footer">
<ul class="contact-links">
  <li><a href="https://ca.linkedin.com/in/yuan-zhang-1a8977108"><img src="../images/linkedin.jpg" width='32' height='32' onmouseover="this.src='../images/linkedin2.jpg';" onmouseout="this.src='../images/linkedin.jpg';" /> </a></li>
  <li><a href="https://github.com/yuaz"><img src="../images/github2.jpg" onmouseover="this.src='../images/github.jpg';" width='32' height='32' onmouseout="this.src='../images/github2.jpg';" /> </a></li>
  <li><a href="mailto:yzhang.8519@gmail.com"><img src="../images/email2.jpg" width='32' height='32' onmouseover="this.src='../images/email.jpg';" onmouseout="this.src='../images/email2.jpg';" /> </a></li>
</ul>
    <p class="footer_text">&copy; 2016  Yuan Zhang. All Rights Reserved.</p>
</div>

</body>
</html>
